<div class="heading">
    <div class="heading-content">
        <div class="heading-logo">

        </div>
        <div class="heading-menu">
            <ul>
                <li>Inicio</li>
                <li>Endereço</li>
                <li>Orçamento</li>
                <li>Contato</li>
            </ul>
        </div>
        <div class="heading-redes-sociais">
            <ul>
                <li><img class="facebook" [src]="redesSociaisLogo"></li>
                <li><img class="instagram" [src]="redesSociaisLogo"></li>
                <li><img class="pinterest" [src]="redesSociaisLogo"></li>
            </ul>
        </div>
    </div>
</div>
